/*
 Custum style
=================================================================*/
body {
    background-color:  #141414;
}

.card {
    width: 100px;
}
label.font-perso, option {
    font-size: 10px;
}

.row.align-items-center.justify-content-center {
    height: 100vh;
}

h1 {
    border-bottom: 1px solid white;
}

#inlineFormInputName, #inlineFormCustomSelect {
    background-color: transparent;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
    border-color: #6c757d;
}

.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0.1rem !important;
    left: -1rem !important;
    width: 1.75rem !important;
    height: 1.75rem !important;
}

option {
    color: white;
    background-color: #141414;
  }

  .custom-control-label::after {
    
    background: #141414;
    opacity: 0.9;
    margin: 1px solid black;
}

.custum-icon {
    color: white;
    background: black;
}


.card-img-overlay {
    position: absolute;
    top: 46px;
    right: 0px;
    bottom: 0;
    left: -12px;
    padding: 1.25rem;
}

.card-img-overlay {
    display: none;
}

.card-img:hover + .card-img-overlay {
    display: block;
}

